<nav>
  <div class="icon-text">
    <span class="i"><i class="fa-solid fa-car-side"></i></span>
    <span class="text"><span class="S"> S</span>PMS Panel</span>
  </div>
  <div class="person">
    <span class="person-icon"><i class="fa-solid fa-user-large"></i></i></span>
    <span class="person-text">Welcome Administrator</span>
    <div class="logout-div">
      <a href="{% url 'logout' %}" class="btn btn-primary">
        <i class="fa-solid fa-power-off"></i> Logout
      </a>
    </div>
  </div>
</nav>
